<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>CTD</title>
  <link rel="stylesheet" href="index.css">
  <img id="bucketPic" src="Bucket Texture.png" />
  <img id="dripPic" src="Raindrop Texture.png" />
</head>
<body>
  <center>
    <div id="container" class="container">
      <p class="title">Catch the Drip</p>
      <div id="gameContainer" class="gameContainer">
        <div id="gameContent" class="gameContent">
        </div>
      </div>
      <div id="start">
        <p id="startText">Start</p>
      </div>
      <div id="controls" class="controls">
        <p>Press < and > to move</p>
        <p>Catch as many drips as you can!</p>
      </div>
    </div>
  </center>
  <script src="index.js" charset="utf-8"></script>
</body>
</html>
